.bank-profile {
    flex: 1;
    height: 40vh;
}

.user-info {
    display: flex;
    padding: 50px;
    justify-content: space-between;
}

.logo {
    width: 7vw;
    height: 10vh;
}

.bank-options {
    flex: 1;
    background-color: rgb(28, 10, 80);
    width: 100vw;
    height: 100vh;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.bank-functions {
    background-color: #28a9b3;
    color: #000000;
    border: 1px solid #28a9b3;
    padding: 80px;
    margin-top: 80px;
    font-size: 20px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}