:root {
  --primary: #2563EB;
  --primary-hover: #b811ce;
  
  --background: #F8FAFC;
  --card: #FFFFFF;
  
  --text-primary: #0F172A;
  --text-secondary: #475569;
  
  --border: #E2E8F0;
  
  --success: #22C55E;
  --error: #fd4545;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
}

.login-image {
  width: 50vw;
  height: 100vh;
  object-fit: cover;
}

.left-side {
  flex: 1;
}

.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(28, 10, 80);
}

.button-submit {
  width: 15vw;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: var(--primary-hover);
  cursor: pointer;
}

.right-side h1 {
  margin-bottom: 50px;
}

.register{
  margin-top: 20px;
}

.checkbox{
  transform: translateY(15%);
  margin-left: 5px;
}

.input-email, .input-password {
  padding-right: 40px;
  width: 15vw;
  padding: 10px;
  border-radius: 10px;
  border: #7271717e 1px solid;
  margin-bottom: 10px;
  background-color: #FFFFFF;
}

.form-login, .titulo {
  color: #FFFFFF
}

.input-email {
  display: flex;
  flex-direction: column;
}

.password-input {
  position: relative;
}

.hide-button {
  position: absolute;
  border: none;
  cursor: pointer;
  transform: translateY(35%);
  right: 10px;
  background: #FFFFFF;
  background-color: #FFFFFF;
}

.error {
  color: var(--error);
}
