.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    color: #FFFFFF;
}

.register-form input,
select {
    margin-bottom: 10px;
    padding: 10px;
    width: 15vw;
    border-radius: 10px;
    border: #7271717e 1px solid;

}

.password-input{
    position: relative;
}

.hiden-button {
    position: absolute;
    border: none;
    cursor: pointer;
    transform: translateY(35%);
    right: 10px;
    background-color: #FFFFFF;
}

.register-submit {
    border: none;
    background-color: var(--primary-hover);
    width: 15vw;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}